/* ==========================
   FOOTER
========================== */
footer.text-muted {
  background-color: var(--feigniter-background-footer) !important;
  color: var(--feigniter-text-footer) !important;
  padding-top: 1rem !important;
}
footer.text-muted a.text-reset {
  transition: color 0.2s ease-in-out;
}
footer.text-muted a.text-reset:hover {
  color: var(--feigniter-primary) !important;
}

.footer-img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
  vertical-align: middle;
}